<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>03_计算属性和监视</title>
</head>
<body>
<!--
1. 计算属性
  在computed属性对象中，定义计算属性的方法
  在页面中使用{{方法名}}，来显示计算的结果
2. 监视属性:
  通过vm对象的 $watch()或 watch配置选项，来监视指定的属性
  当属性变化时, 回调函数自动调用, 在函数内部进行计算
3. 计算属性高级:
  通过 getter/setter，实现对属性数据的显示和监视

  计算属性存在缓存, 多次读取只执行一次 getter计算
    当依赖的响应式属性变化，才会重新计算
-->
<div id="demo">
  姓: <input type="text" placeholder="First Name" v-model="firstName"><br>
  名: <input type="text" placeholder="Last Name" v-model="lastName"><br>
  姓名1(单向): <input type="text" placeholder="Full Name1" v-model="fullName1"><br>
  姓名2(单向): <input type="text" placeholder="Full Name2" v-model="fullName2"><br>
  姓名3(双向): <input type="text" placeholder="Full Name3" v-model="fullName3"><br>
</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
  const vm = new Vue({
      el: '#demo',
      data: {
          firstName: 'A',
          lastName: 'B',
          fullName2: 'A-B',
      },

      //计算属性
      computed: {
          /*
          * fullName1依赖于firstName和lastName
          *   初始化会调用一次，
          *   当依赖的响应式属性变化时，才重新计算
          * */
          fullName1: function () {
            console.log('fullName1')
              return this.firstName + '-' + this.lastName
          },

          /*
          * fullName3
          * get()方法，和fullName1的调用形式一样
          * set()方法，只有当 fullName3 改变时（注意，firstName和lastName改变，不影响！），才会调用
          * */
          fullName3: {
              get () {
                  return this.firstName + '-' + this.lastName
              },
              set (value) {
                  // console.log('fullName3 set()', value)
                  const names = value.split('-')
                  this.firstName = names[0]
                  this.lastName = names[1]
              }
          }
      },
      /*
      * 监听属性
      *   实例化时，最终会遍历配置选项中的watch，调用实例对象的 $watch进行执行
      * */
      watch: {
          firstName: function (value, oldValue) {
              console.log('firstName', value, oldValue)
              this.fullName2 = value + '-' + this.lastName
          },
          // lastName: function (value, oldValue) {
          //     console.log('lastName', value, oldValue)
          //     this.fullName2 = this.firstName + '-' + value
          // }
      }
  })

  // 也可以这样调用
  // vm.$watch('lastName', function (value, oldValue) {
  //     console.log('lastName', value)
  //     this.fullName2 = this.firstName + '-' + value
  // })
</script>
</body>
</html>